@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Lato&display=swap');

/* css general ------------------------------------------ */

*{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin: 0px 50px;
    background: url(https://images.unsplash.com/photo-1550345332-09e3ac987658?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0px -310px;
}

/* header ------------------------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

header span{
    color: rgb(231, 231, 231);
}

header .cont-logo{
    display: flex;
    width: 140px;
    justify-content: space-between;
}

header .logo{
    color: rgb(170, 41, 255);
    font-size: 20px;
    text-decoration: none;
} 

header .links-nav{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
}

.link-fit{
    background-color: rgb(170, 41, 255);
    padding: 10px 25px;
    border-radius: 20px 2px;
    text-decoration: none;
    color: white;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 3px inset rgb(198, 114, 255);
}

/* section ----------------------------------------------- */

section{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 25px;
}

.cont-texto h1{
    font-size: 60px;
    margin: 30px 0 0 0;
    color: rgb(255, 255, 255);
}

.cont-texto span{
    color: rgb(170, 41, 255);
    text-decoration: underline;
    text-transform: capitalize;
}

.cont-texto p{
    margin: 30px 0 ;
    color: rgb(202, 202, 202);
}

.cont-texto a{
    text-decoration: none;
    color: white;
    border: 3px inset rgb(170, 41, 255);
    padding: 10px 18px;
    background-color: rgb(179, 66, 255);
    text-transform: uppercase;
    border-radius: 8px;
    position: relative;
    top: 45px;
    letter-spacing: 1px;
    font-size: 14px;
}

.cont-texto ul{
    list-style-position: inside;
    font-style: italic;
    color: rgb(179, 66, 255);
    font-size: 20px;
    font-weight: bold;
}

.cont-texto .icono{
    font-size: 24px;
    position: relative;
    top: 4px;
    right: 1px;
    color: rgb(255, 172, 248);
}

/* imagen ----------------------------------------------- */

section img{
    width: 280px;
    box-shadow: 15px 15px rgb(179, 66, 255), -15px -15px rgb(115, 0, 192);
    filter: grayscale(0.5);
}


/* pseudoclases ------------------------------------------- */

.links-nav:hover{
    color: blue;
}

.link-fit:hover{
    color: rgb(190, 213, 255);
}